<div class="left">
<p>What did I miss? Sonny will help!</p>
</div>
<div class="right">
	<p>
		<%= link_to "Sign up", new_user_registration_path %>
		or
		<%= link_to "Sign in", new_user_session_path %>
	</p>
</div>